# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# OS specific
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Large Data
JangWansik/data/
catboost_info/

# Allowed Models (Commented out to explicitly track)
# *.pkl
# *.h5
# *.onnx
# *.pt
# *.pth
# models/
# 03_trained_model/
